// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box
{
  // background-color: yellow;
  list-style: none;
  width:1010px;
}
.each
{

  background-color:#ddffff;
  border-left: solid #2196F3;
}
